@import './fonts.css';
@import './tailwind.css';
@import './theme.css';

body {
  font-family: 'Inter', system-ui, -apple-system, sans-serif;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}